{% extends "base.html" %}

{% block title %}
HOME
{% endblock %}

{% block content %}



<div class="bannerArea">
  <div class="colorOverlay animated fadeIn">

    <div class="container">

      <div class="row">

        <div class="col-md-12">
  
          <div class="text-center heroText animated fadeInLeft">
            
            <h1 id="h1">ATTEND</h1>
            <h3 id="h3">TOME ASISTENCIA DE FORMA RAPIDA</h3>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}