body{
    background-color: white !important;
}

form{
    text-align: center;
    border: 1px solid grey;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    background-color: white;
    border-radius: 20px;
}


.form-control{
    background-color: rgb(233, 231, 231);
}
