{% extends "base.html" %}

{% block title %}
QR
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-5" id="form-confirmar">
            <form action="/present/confirmar" method="POST">

                <input type="hidden" name="hash" value="{{hash}}">
                <div class="row mb-3">
        
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" id="name" name="name"
                            placeholder="NOMBRE Y APELLIDO" required>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-outline-secondary col-12">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

{% endblock %}