{% extends "base.html" %}

{% block title %}
CONSULTA
{% endblock %}

{% block content %}

{% assets 'present_all_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-10" id="form-consult">
            <form action="/present/consultar" method="POST">
                <div class="row mb-3">
                    <label for="mail" class="col-sm-3 col-form-label col-form-label-sm">EMAIL</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="mail" name="mail"
                            placeholder="juan@gmail.com" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="institucion" class="col-sm-3 col-form-label col-form-label-sm">INSTITUCION</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="institucion" name="institucion"
                            required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="materia" class="col-sm-3 col-form-label col-form-label-sm">MATERIA</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="materia" name="clase" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-outline-secondary col-12">
                    </div>
                </div>

            </form>
        </div>
    </div>






    {% if filter_hash %}

    <div class="row">

        <div class="col-12" id="table_title">
            <h5>INSTITUCION:{{institucion}} / </h5>
            <h5>MATERIA:{{materia}}</h5>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <select class="col-sm-12 form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                    onclick="ver_table(this)">
                    <option selected>Selecione la fecha</option>
                    {% for hash in filter_hash %}
                    <option value="{{filter_hash[hash].date}}">{{filter_hash[hash].date}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 col-sm-12">
                {% for hash in filter_hash %}

                <table class="table table-light" id="{{filter_hash[hash].date}}" name="table_group">
                    <div class="table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">{{filter_hash[hash].date}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alumno in filter_hash[hash].alumnos %}
                            <tr>
                                <td>{{alumno}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </div>
                </table>

                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endif %}

<!--
      {% if filter_hash %}

    <div class="row">
        <div class="col-12" id='table_respuesta'>
            
            <div class="col-12" id="table_title">
                <h5>INSTITUCION:{{institucion}} / </h5>
                <h5>MATERIA:{{materia}}</h5>
                <hr>
            </div>

            

            <div class="row">
                {% for hash in filter_hash %}
                <div class="col-md-1 col-sm-10">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="table-secondary">
                                <th scope="col">{{filter_hash[hash].date}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alumno in filter_hash[hash].alumnos %}
                            <tr class="table-secondary">
                                <td>{{alumno}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>

{% endif %}

-->



{% endblock %}