{% extends "base.html" %}

{% block title %}
PRESENTE
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-9 col-md-5" id="form-present">
        <form action="/present/generar" method="POST"  >
          
            <div class="row mb-3">
                <label for="clase" class="col-sm-3 col-form-label col-form-label-sm">INSTITUCION</label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm" id="institucion" name="institucion" placeholder="UTN-FRCU"
                        required>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="clase" class="col-sm-3 col-form-label col-form-label-sm">MATERIA</label>
                <div class="col-md-9">
                    <input type="text" class="form-control form-control-sm" id="clase" name="clase" placeholder="Matematica"
                        required>
                </div>
            </div>
        
            <div class="row mb-3">
                <label for="mail" class="col-sm-3 col-form-label col-form-label-sm">EMAIL</label>
                <div class="col-md-9">
                    <input type="email" class="form-control form-control-sm" id="mail" name="mail" placeholder="juan@gmail.com"
                        required>
                </div>
            </div>
        
            <div class="row mb-3">
                <label for="time" class="col-sm-3 col-form-label col-form-label-sm">EXPIRACION</label>
                <div class="col-md-9">
                    <input type="time" class="form-control form-control-sm" id="time" name="time" required>
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-outline-secondary col-12"  placeholder="GENERAR">
                </div>
            </div>
        
        
        
        
            
        </form>
        </div>
    </div>
</div>

{% endblock %}